.box {
    display: inline-block;
    border: 2px solid red;
    width: 150px;
    height: 150px;
    margin: 2px;
}

#box3 {
    /* position: relative; */
    /* position: absolute; */
    /* top: 34px;
    left: 134px; */
    /* 
    position: fixed;
    right: 4px; */

    position: sticky;
    top: 3px;
}